*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    /* background-color: black; */
    background-image: url("https://tse2.mm.bing.net/th?id=OIP.AxEQn9r7JuZIWLiSSME7ygHaEo&pid=Api&P=0&h=220");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: start;
    margin-left: 10em;
    align-items: center;
}
.auth_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10em;
    width: 100%;
    /* background-color: black; */
}
.main_container_one{
/* background-color: black; */
width: 100%;
height: 100vh;
 display: flex; 
/* justify-content: center;  */
margin: 0px auto;
align-items: center;
}
.parent_container{
width: 25em;
height: 27em;
/* background-color: black; */
border: 3px solid white;
box-shadow: 2px 2px 5px black,
2px 2px 5px black;
border-radius: 10px;
background-color: rgba(255, 255, 255, 0.3);
/* background-color: white; */

border-radius: 8px;
}
.top-heading{
    font-size: 3.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blueviolet;
    margin-top: 0.4em;
    margin-bottom: 0.5em;

}
.email-pass-parent{
    width: 100%;
    /* background-color: black; */
    text-align: center;
}
.email-pass-parent input{
    width: 27em;
    height: 3em;
    border-radius: 3px;
    margin-top: 3em;
    padding-left: 10px;
    border: 2px solid blueviolet ;
    font-weight: bold;
    
}
.email-pass-parent input::placeholder{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
    padding-left: 3px;
    /* padding: 15px 0px; */
}

.signup-btn{
    margin-top: 3em;
        padding: 13px 8em;
        background-color:blueviolet;
        border: blueviolet;
        color: whitesmoke;
        /* padding: 15px; */
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        color: white;

}

.para{
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
font-weight: bold;
text-shadow: 2px 2px 5px black;
}
.para span{
    color: blueviolet;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 2px 2px 5px whitesmoke;

}
#signin_section{
display: none;
margin: 0px auto;
}


.userInterface{
    margin-top: 5em 0px;
    width: 1000px;
    height: 400px;
    /* background-color: rgb(255, 255, 255,0.3); */
    display: flex;
    border-radius: 20px;
}


.user_child_one{
    background-color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
}
.heading_user_child{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* color: #1c4855; */
    color: blueviolet;
    margin-top: 2em;
    font-size: 3em;
 }
.user_child_two{
    background-color: blueviolet;
    /* background-image: url("https://i.ytimg.com/vi/pwv8orpGPqI/maxresdefault.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-size: 100% 25em; */
    width: 100%;
    
}

#user_email{
    color: #1c4855;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.user_para{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px 25px;
    color: #1c4855;
    font-weight: bold;
}

#logout_btn{
    margin-top: 1.5em;
    padding: 13px 8em;
    background-color:blueviolet;
    border: blueviolet;
    color: whitesmoke;
    /* padding: 15px; */
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.user_child_two_heading{
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 12px;
    font-size: 3.5em;
    margin-top: 2em;
}

.user_child_two_para{
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}











